#container {
width: 400px;
margin:  0 auto;
text-align: center;
}
form {
 margin-bottom: 20px;
}
#task {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    width: 20%;
    background-color: blueviolet;
    color: azure;
    padding: 8px 0;
    border: none;
    cursor: pointer;
}
ul {
    list-style: none;
}

li {
    background-color: aliceblue;
    padding: 10px;
    margin-bottom: 10px;
}

body {
    background-color: rgb(234, 223, 244);
}
.done {
    text-decoration: line-through;
}